@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
}

.grid-container > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.header {
  grid-area: header;
  background-color: #85aedd;
}

.navbar {
  grid-area: navbar;
  background-color: #afd6af;
}

.sidebar {
  grid-area: sidebar;
  background-color: #fdcfcf;
}

.main {
  grid-area: main;
  background-color: #f5f5f5;
}

.footer {
  grid-area: footer;
  background-color: #8c96a0;
}

/* /////////////////////////////////// */
/* .grid-container */
/* /////////////////////////////////// */

/* .grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "header"  100px
    "navbar"  50px
    "main"    auto
    "sidebar" 100px
    "footer"  100px;
} */

/* Segundo .grid-container */
/* .grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "header" 150px
    "navbar" 60px
    "main" auto
    "sidebar" 120px
    "footer" 150px;
} */

/* Tercer .grid-container */
 /* .grid-container {
  display: grid;
  gap: 20px;
  grid-template:
    "header" 80px
    "navbar" 40px
    "main" auto
    "sidebar" 80px
    "footer" 80px;
}  */


/* Cuarto .grid-container */
/* .grid-container {
  display: grid;
  gap: 15px;
  grid-template:
    "header" 120px
    "navbar" 60px
    "main" auto
    "sidebar" 120px
    "footer" 120px;
} */

/* Quinto .grid-container */
.grid-container {
  display: grid;
  gap: 8px;
  grid-template:
    "header" 80px
    "navbar" 40px
    "main" auto
    "sidebar" 80px
    "footer" 80px;
}



/* ////////////////////////////////11 */
/* Usando grid-template-rows */
/* //////////////////////////////// */

/* Ejemplo 1: Usando grid-template-rows
.grid-container1 {
  display: grid;
  gap: 10px;
  grid-template-rows: 100px 50px auto 100px 100px;
}

/* Ejemplo 2: Usando grid-template-areas */
/* .grid-container2 {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "header"
    "navbar"
    "main"
    "sidebar"
    "footer";
}

/* Ejemplo 3: Combinando grid-template-rows y grid-template-areas */
/* .grid-container3 {
  display: grid;
  gap: 10px;
  grid-template-rows: 100px 50px auto 100px 100px;
  grid-template-areas:
    "header"
    "navbar"
    "main"
    "sidebar"
    "footer";
} */

/* Ejemplo 4: Usando grid-template-columns */
/* .grid-container4 {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 50px auto 100px 100px;
} */ 



/* /////////////////////////////////////// */
/* mediaquerys */
/* /////////////////////////////////////// */


/* /////////////////////////////////////// */
/* 1200px */
/* /////////////////////////////////////// */

/* Resolución mínima de 1200px - Ejemplo 1 */

@media (min-width: 1200px) {
  .grid-container {
    grid-template:
      "header  header header" 100px
      "navbar  main   sidebar" auto
      "footer  footer footer" 100px /
      200px auto 300px;
  }
}

/* Resolución mínima de 1200px - Ejemplo 2 */

@media (min-width: 1200px) {
  .grid-container {
    grid-template:
      "header  header header" 100px
      "navbar  main   sidebar" auto
      "footer  footer footer" 100px /
      200px auto 400px;
  }
}

/* Resolución mínima de 1200px - Ejemplo 3 */

@media (min-width: 1200px) {
  .grid-container {
    grid-template:
      "header  header header" 100px
      "navbar  main   sidebar" auto
      "footer  footer footer" 100px /
      200px auto 200px;
  }
}

/* /////////////////////////////////// */
/* 800px */
/* /////////////////////////////////// */

/* Resolución mínima de 800px - Ejemplo 1 */

@media (min-width: 800px) {
  .grid-container {
    grid-template:
      "header  header" 100px
      "main    sidebar" auto
      "footer  footer" 100px /
      auto 300px;
  }
}

/* Resolución mínima de 800px - Ejemplo 2 */

@media (min-width: 800px) {
  .grid-container {
    grid-template:
      "header  header" 100px
      "main    sidebar" auto
      "footer  footer" 100px /
      auto 400px;
  }
}

/* Resolución mínima de 800px - Ejemplo 3 */

@media (min-width: 800px) {
  .grid-container {
    grid-template:
      "header  header" 100px
      "main    sidebar" auto
      "footer  footer" 100px /
      auto 300px;
  }
}


/* /////////////////////////////////// */
/* 600px */
/* /////////////////////////////////// */


/* Ejemplo 1: Layout con un sidebar más ancho y contenido principal ajustable: */
/* Resolución mínima de 600px - Ejemplo 1 */

@media (min-width: 600px) {
  .grid-container {
    grid-template:
      "header  header" 100px
      "navbar  main" auto
      "sidebar footer" 100px /
      250px auto;
  }
}

/* Ejemplo 2: Layout con un sidebar aún más estrecho y contenido principal amplio: */

/* Resolución mínima de 600px - Ejemplo 2 */
@media (min-width: 600px) {
  .grid-container {
    grid-template:
      "header  header" 100px
      "navbar  main" auto
      "sidebar footer" 100px /
      150px auto;
  }
}

/* Ejemplo 3: Layout con un sidebar estrecho y contenido principal ajustable: */

/* Resolución mínima de 600px - Ejemplo 3 */

@media (min-width: 600px) {
  .grid-container {
    grid-template:
      "header  header" 100px
      "navbar  main" auto
      "sidebar footer" 100px /
      100px auto;
  }
}



/* //////////////////////////////////// */
/* 900px */
/* //////////////////////////////////// */

@media (min-width: 900px) {
  .grid-container {
    grid-template:
      "header  header header"  100px
      "navbar  main   sidebar" auto
      "footer  footer footer"  100px /
      200px    auto   200px;
  }
}

/* Ejemplo 1: Layout con un sidebar más ancho y contenido principal ajustable */

/* Resolución mínima de 900px */
@media (min-width: 900px) {
  .grid-container {
    grid-template:
      "header    header  header" 100px
      "main      navbar  sidebar" auto
      "footer    footer  footer" 100px /
      200px auto 200px;
  }
}

/* Ejemplo 2: Layout con un sidebar estrecho y contenido principal aún más amplio */

/* Resolución mínima de 900px - Ejemplo 3 */
@media (min-width: 900px) {
  .grid-container {
    grid-template:
      "navbar  header header" 100px
      "sidebar main   main" auto
      "sidebar footer footer" 100px /
      200px auto 200px;
  }
}